<!-- Footer -->

<footer>
    <section class="section">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Who We Are
            </h6>
            <p>Rent N Drive is a leading car rental service committed to providing convenient and reliable transportation solutions.
              We aim to be the go-to choice for individuals and businesses seeking quality vehicles and exceptional service.
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
             Why Choose Us?
            </h6>
                <li>Wide Range of Vehicles.</li>
                <li>Flexible Rental Plans.</li>
                <li>Easy Booking Process.</li>
                <li>Customer Satisfaction.</li>
                <li>24/7 rental services.</li>
                <li>Budget friendly plans.</li>
          </div>
          
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
            <p><i class="fas fa-home me-3"></i> Siruseri, Chennai, TamilNadu</p>
            <p><i class="fas fa-phone me-3"></i> + 91 99000 88000</p>
            <p><i class="fas fa-whatsapp me-3"></i> + 91 99000 88000</p>
          </div>
        </div>
      </div>
    </section>
    <div class="footer text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">&copy; 2024 Rent N Drive - All rights reserved.</a>
    </div>
  </footer>