<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-AU5aBuQk+3A3pD3ZMz5fWlV3uBkmmzjG0DbI7+uJ+tmCzjsRGnbGbRC3A4oz+Xf2p1xBqkKgG4jA32KzEwI8Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<nav class="mainNav">
    <div class="logo">
      <a href="#"><img src="../assets/Image/logo car.png" alt="Rent N Drive"></a>
      </div>
    <div class="links">
       <a href="#" >Home </a>
       <a href="" >My Bookings </a>
       <a href="" >My Profile </a>
       <a href="" >Logout </a>
    </div>
 </nav>