@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}

nav img {
   max-width: 60px; 
   height: auto;
}
 
 @import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap");
 
 $font-01: "Raleway", sans-serif;
 
 $gradient-02: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
 $gradient-01: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
 
 $m-01: #9197ae;
 $m-02: #637498;
 
 @mixin sm {
    @media screen and (max-width: 799px) {
       @content;
    }
 }
 
 * {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
 
    &:focus {
       outline: 0;
    }
 }
 
 .mainNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding: 10px;
    color: #9197ae;
    background-color: #f5f7fa8f;
   }

   .links a{
      color: #3e3e3e;
   }
   .links a:hover{
      background-color: #ffffff;
      color: #3e3e3e;
      border-radius: 15px;
      width: 150%;
   }
 